$background_color: #ffffff;
$navigation_color: #1fbcd3;
$navigation_border_color: #617d8a;
$background_post_color: #efefef;
$post_description_color: #159587;
$post_description_border_color: #617d8a;
$description_font_size: 0.8em;
$head3_color: #1697a6;
$paragraf_color: #617d8a;
$paragraf_font_size: 0.95em;
$form_text: #757575;
$form_color: #617d8a;
$footer_color: #617d8a;
$fontStack: Helvetica, Arial, sans-serif;