$background_color: #efefef;
$navigation_color: #fc5830;
$navigation_border_color: #cfd8dc;
$background_post_color: #ffffff;
$post_description_color: #bdbdbd;
$post_description_border_color: #cfd8dc;
$description_font_size: 0.8em;
$head3_color: #617d8a;
$paragraf_color: #757575;
$paragraf_font_size: 1.2em;
$form_text: #757575;
$form_color: #cfd8dc;
$footer_color: #757575;
$fontStack: Times, Times New Roman,  serif;